.attendance__detail {
    max-width: 900px;
    margin: 40px auto;
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 10px;
}

.detail__ttl {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
    border-left: 8px solid black;
    padding: 4px 20px;
}

.table__content {
    width: 100%;
    margin-top: 50px;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #E1E1E1;
}

.table__item {
    border-bottom: 2px solid #E1E1E1;
    height: 100px;
}

.table__item:last-child {
    border-bottom: none;
}

.table__ttl {
    width: 25%;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    padding-left: 40px;
    text-align: left;
    background-color: #ffffff;
    color: #737373;
}

.table__inner {
    padding: 30px 120px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.date__row,
.time__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.year,
.day,
.time,
textarea {
    padding: 18px 12px;
    font-size: 16px;
    border: 1px solid #CCC;
    border-radius: 6px;
    text-align: center;
    background: #fff;
    height: 40px;
    width: 120px;
    font-weight: bold;
}

.input-date {
    border: none;
}

textarea {
    width: 100%;
    height: 80px;
    resize: none;
    text-align: left;
}

.edit__button {
    display: block;
    width: 120px;
    margin-left: auto;
    margin-top: 90px;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
}

.approval__status {
    text-align: right;
    font-size: 18px;
    color: #ff000080;
    font-weight: bold;
    margin-top: 30px;
}

.btn__success {
    display: block;
        width: 120px;
        margin-left: auto;
        margin-top: 90px;
        padding: 10px;
    background-color: #696969;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 22px;
        font-weight: bold;
}

.error__message {
    margin-top: 5px;
    color: red;
    font-size: 16px;
}

@media (max-width: 768px) {
    .attendance__detail {
        max-width: 90%;
        padding: 15px;
    }

    .detail__ttl {
        font-size: 24px;
        padding: 4px 15px;
    }

    .table__content {
        border-radius: 10px;
    }

    .table__item {
        height: 100px;
    }

    .table__ttl {
        font-size: 16px;
    }

    .table__inner {
        padding: 30px 80px;
        font-size: 16px;
    }

    .date__row,
    .time__row {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        align-items: center;
        justify-content: space-between;
    }

    .year,
    .day,
    .time,
    textarea {
        width: 120px;
    }

    textarea {
        width: 100%;
        height: 80px;
        resize: none;
        text-align: left;
    }

    .edit__button,
    .btn__success {
        width: 100%;
        max-width: 125px;
        font-size: 18px;
        margin-top: 40px;
        padding: 10px 0;
    }
}