.attendance__list {
    max-width: 900px;
    margin: 80px auto;
    font-family: Arial, sans-serif;
}

.attendance__list h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
    border-left: 8px solid black;
    padding: 4px 20px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin: 40px 0;
}

.navigation .prev__month,
.navigation .next__month {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    color: #737373;
    border: none;
    padding: 20px 0;
    margin: 0 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.navigation .prev__month img,
.navigation .next__month img {
    width: 16px;
    height: 16px;
}

.navigation .current__month {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: bold;
}

.navigation .current__month img {
    width: 20px;
    height: 20px;
}

.attendance__table {
    width: 100%;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
}

.table__ttl {
    border-bottom: 3px solid #E1E1E1;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #737373;
}

.table__inner {
    border-top: 2px solid #E1E1E1;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    color: #737373;
}

.weekday {
    color: #737373;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: 700;
}

.table__inner-link {
    color: black;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: 700;
}

.csv__btn {
    display: block;
    width: 150px;
    margin-left: auto;
    margin-top: 90px;
    padding: 15px 0;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

@media (max-width: 768px) {
    .attendance__list {
        max-width: 90%;
        margin: 40px auto;
        padding: 0 10px;
    }

    .attendance__list h1 {
        font-size: 24px;
        padding: 4px 15px;
    }

    .navigation {
        gap: 10px;
        padding: 10px 0;
    }

    .navigation .prev__month,
    .navigation .next__month {
        margin: 0;
        padding: 10px 10px;
        font-size: 14px;
    }

    .navigation .current__month {
        font-size: 18px;
    }

    .attendance__table {
        border-radius: 5px;
        overflow-x: auto;
    }

    .table__ttl,
    .table__inner {
        font-size: 14px;
        padding: 8px;
    }

    .csv__btn {
        width: 100%;
        max-width: 120px;
        font-size: 18px;
        margin-top: 40px;
        padding: 10px 0;
    }
}